body{
    background-color: #f6f6f6;

}

main div#painting {
    background-color: #fff4db;
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}

main div#toprow {
    height: 290px;
}

main div#container{
    height: 110px;
    width: 400px;
    display: inline-block;
}

#bigbox {
    width: 290px;
    height: 290px;
}


.red {
    background-color: red;   
}

.blue {
    background-color: blue; 
}

.yellow {
    background-color: yellow;   
}

.black {
    background-color: black;   
}

.lightgreen {
    background-color: lightgreen;
}



.right {
    float: right;
}

#divider1 {
    height: 290px;
    width: 10px;
}

#mediumbox {
    width: 100px;
    height: 140px;
}
#mediumbox2 {
    width: 100px;
    height: 140px;
}

#divider2 {
    height: 10px;
    width: 100px;
}

#divider3 {
    width: 400px;
    height: 10px;
}

#divider4{
    width: 45px;
    height: 10px;
}

#divider5{
    width: 10px;
    height: 100px;
    margin-top: -55px;
}

#littlebox1{
    height: 45px;
    width: 45px;
}

#littlebox2{
    height: 45px;
    width: 45px;
}

.clear{
    clear: right;
}

#divider6{
    width: 10px;
    height: 100px;
    margin-top: -55px; 
}

#bottomrect{
  width: 235px;
  height: 100px; 
  margin-top: -55px; 
  
}

#squareleft{
    width: 100px;
    height: 100px;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

div.rainbow {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}